@import 'tailwindcss';

@theme {
    --color-global-black: #000000;
    --color-global-bg-main: #0e1113;
    --color-global-bg-hover: #181c1f;
    --color-global-border: #26282a;
    --color-global-gray: #2a3236;
    --color-global-gray-light: #8ba2ad;
    --color-global-gray-lighter: #b7cad4;
    --color-global-offwhite: #f2f2f2;
    --color-global-offwhite-hover: #eef1f3;
    --color-global-white: #ffffff;
    --color-global-orange: #d93900;
    --color-global-orange-hover: #ae2c00;
    --color-global-orange-active: #ba4b26;
    --color-global-purple: #cf5fff;
    --color-global-blue: #648efc;
    --color-global-blue-hover: #90a9fd;

    --color-btn-fg: var(--color-white);
    --color-btn-bg: var(--color-global-orange);
    --color-btn-bg-hover: var(--color-global-orange-hover);
    --color-btn-bg-active: var(--color-global-orange-active);

    /* - New */

    --color-brand-main: #d93900;
    --color-brand-hover: #ae2c00;
    --color-brand-foreground: #ffffff;

    --color-accent-orange: #ff4500;
    --color-accent-pink: #de019f;

    --color-surface-0: #000000; /* Black */
    --color-surface-50: #0e1113;
    --color-surface-100: #131313; /* Bg main */
    --color-surface-200: #181c1f;
    --color-surface-300: #21272a; /* Bg hover */
    --color-surface-400: #2a3236;
    --color-surface-500: #333d42;
    --color-surface-600: #51595d;

    --color-content-strong: #edf1f3;
    --color-content: #dbe4e9;
    --color-content-main: #b7cad4;
    --color-content-weak: #8ba2ad;
    --color-content-disabled: #303030;

    --color-neutral-100: #f2f2f2;
    --color-neutral-300: #acacac;
    --color-neutral-500: #748791;
    --color-neutral-700: #434343; /* Border */
    --color-neutral-800: #303030;
    --color-neutral-900: #1e1e1e;
}

@layer base {
    body {
        font-family: var(--font-sans);
        background-color: var(--color-global-bg-main);
        color: var(--color-white);
    }
}
